In [0]:
import pandas as pd
import numpy as np

In [0]:
data=pd.read_csv('NORMALIZADO.csv')

In [3]:
data.head()

   Age  BusinessTravel  ...  YearsWithCurrManager  Attrition
0   41               2  ...                     5          1
1   53               2  ...                     7          0
2   36               2  ...                     3          1
3   42               2  ...                     2          0
4   46               2  ...                     1          0

[5 rows x 32 columns]

In [0]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
clf=RandomForestClassifier(n_estimators=10)

In [38]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_pred=clf.predict(X_test)

In [0]:
from sklearn import metrics

In [41]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8208955223880597